@model IEnumerable<PruebaMvc.ModelsService.OfertaS>
@{
    ViewBag.Title = "Consultar oferta";
}
@using (Html.BeginForm("ConsultarTodasOferta", "Oferta", FormMethod.Post))
{
<br />
<div class="panel panel-default">
    <div class="panel-heading"><h4>Consultar Oferta</h4></div>
    <div class="panel-body">
        <table>
            <tr>
                <td>
                    Filtro
                </td>
                <td>
                    <select id="tipoControl" name="tipoControl">
                        <option value="1">Oferente</option>
                        <option value="2">Todas</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Valor
                </td>
                <td>
                    <input type="text" id="idValor" name="valor">
                </td>
                <td colspan="2" align="left">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><h4>Ofertas</h4></div>
    <div class="panel-body">

        @if (Model != null)
        {
            <table class="table table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fechaInicio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fechaFin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fechaFin)
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fechaInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fechaFin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>
                        <td>
                            @Html.ActionLink("Ver", "ConsultarOfertaId", new { idOferta = item.id }, "btn btn - danger")
                        </td>
                    </tr>
                }

            </table>
        }
    </div>
</div>
}
