@model PruebaMvc.ModelsService.OferenteConsulta
@{

}
<br />
@using (Html.BeginForm("consultarOferenteId", "Usuario", FormMethod.Post))
{
	<div class="panel panel-default">
		<div class="panel-heading"><h4>Consultar Oferente</h4></div>
		<div class="panel-body">
			<div class="container">
				<div class="form-group">
					<label class="col-sm-2">Id Oferente</label>
					<div class="col-sm-3">
						<input class="form-control" type="text" id="id_Oferente" name="idOferente">
					</div>

					<button type="submit" class="col-sm-1 btn btn-success">Buscar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="form-group">
			<a class="btn btn-primary" href="@Url.Action("CrearUsuarios", "Inicio")">Atrás</a>
		</div>

	</div>



	if ((bool)ViewBag.ConsultaRealizada)
	{
		if (Model != null)
		{
			<div class="panel-heading">
				<h3>Datos Oferente</h3>
			</div>
			<div class="panel-body">
				<h2 class="label label-success">@ViewBag.Message</h2>

				<table class="table table-striped">
					<tr>
						<td class="width-columnKey">
							<strong>Nombre</strong>
						</td>
						<td class="width-columnValue">
							@Html.HiddenFor(model => model.nombre)
							@Html.DisplayFor(model => model.nombre)
						</td>
					</tr>
					<tr>
						<td>
							<strong>Correo Electrónico</strong>
						</td>
						<td>
							@Html.HiddenFor(model => model.correoElectronico)
							@Html.DisplayFor(model => model.correoElectronico)
						</td>
					</tr>
					<tr>
						<td>
							<strong>Tipo Usuario</strong>
						</td>
						<td>
							@Html.HiddenFor(model => model.rol.nombre)
							@Html.DisplayFor(model => model.rol.nombre)
						</td>
					</tr>
					<tr>
						<td>
							<strong>Estado</strong>
						</td>
						<td>
							@Html.HiddenFor(model => model.idEstadoSistema.descripcion)
							@Html.DisplayFor(model => model.idEstadoSistema.descripcion)
						</td>
					</tr>
					<tr>
						<td>
							<strong>Nit</strong>
						</td>
						<td>
							@Html.HiddenFor(model => model.infoUsuario.nit)
							@Html.DisplayFor(model => model.infoUsuario.nit)
						</td>
					</tr>
					<tr>
						<td>
							<strong>Descripción</strong>
						</td>
						<td>
							@Html.HiddenFor(model => model.infoUsuario.descripcion)
							@Html.DisplayFor(model => model.infoUsuario.descripcion)
						</td>
					</tr>
					<tr>
						<td>
							<strong>Tipo entidad</strong>
						</td>
						<td>
							@Html.HiddenFor(model => model.infoUsuario.tipoEntidad.nombre)
							@Html.DisplayFor(model => model.infoUsuario.tipoEntidad.nombre)
						</td>
					</tr>
					<tr>
						<td>
							<strong>Pais</strong>
						</td>
						<td>
							@Html.HiddenFor(model => model.infoUsuario.pais.nombre)
							@Html.DisplayFor(model => model.infoUsuario.pais.nombre)
						</td>
					</tr>

				</table>

			</div>

		}
		else
		{
			<p>No se encontraron resultados asociados a la consulta</p>
		}

	}


}
