@model PruebaMvc.ModelsService.SolicitanteConsulta
@{

}

@using (Html.BeginForm("consultarSolicitanteId", "Usuario", FormMethod.Post))
{

	<div class="panel panel-default">
		<div class="panel-heading"><h4>Consultar Solicitante</h4></div>
		<div class="panel-body">
			<div class="container">
				<div class="form-group">
					<label class="col-sm-2">Id Solicitante</label>
					<div class="col-sm-3">
						<input class="form-control" type="text" id="id_Oferente" name="idSolicitante">
					</div>
					<button type="submit" class="col-sm-1 btn btn-success">Buscar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="form-group">
			<a class="btn btn-primary" href="@Url.Action("CrearUsuarios", "Inicio")">Atrás</a>
		</div>

	</div>

	@*<div class="panel panel-default">
			<div class="panel-heading"><h4>Consultar Solicitante</h4></div>
			<div class="panel-body">
				<table>
					<tr>
						<td>
							Id Solicitante
						</td>
						<td>
							<input type="text" id="id_Oferente" name="idSolicitante">
						</td>
						<td colspan="2" align="left">
							<button type="submit" class="btn btn-primary">Buscar</button>
						</td>
					</tr>
				</table>
			</div>
		</div>*@

if ((bool)ViewBag.ConsultaRealizada)
{
	if (Model != null)
	{
		<div class="panel-heading">
			<h3>Consulta Solicitante</h3>
		</div>
		<div class="panel-body">
			<table class="table table-striped">
				<tr>
					<td>
						<strong>Nombres</strong>
					</td>
					<td>
						@Html.HiddenFor(model => model.nombre)
						@Html.DisplayFor(model => model.nombre)
					</td>
				</tr>
				<tr>
					<td>
						<strong>Apellidos</strong>
					</td>
					<td>
						@Html.HiddenFor(model => model.infoUsuario.apellidos)
						@Html.DisplayFor(model => model.infoUsuario.apellidos)
					</td>
				</tr>
				<tr>
					<td>
						<strong>Correo Electrónico</strong>
					</td>
					<td>
						@Html.HiddenFor(model => model.correoElectronico)
						@Html.DisplayFor(model => model.correoElectronico)
					</td>
				</tr>
				<tr>
					<td>
						<strong>Tipo Usuario</strong>
					</td>
					<td>
						@Html.HiddenFor(model => model.rol.nombre)
						@Html.DisplayFor(model => model.rol.nombre)
					</td>
				</tr>
				<tr>
					<td>
						<strong>Estado</strong>
					</td>
					<td>
						@Html.HiddenFor(model => model.idEstadoSistema.descripcion)
						@Html.DisplayFor(model => model.idEstadoSistema.descripcion)
					</td>
				</tr>
				<tr>
					<td>
						<strong>Tipo de documento</strong>
					</td>
					<td>
						@Html.HiddenFor(model => model.infoUsuario.id_tipo_documento.descripcion)
						@Html.DisplayFor(model => model.infoUsuario.id_tipo_documento.descripcion)
					</td>
				</tr>
				<tr>
					<td>
						<strong>Número Documento</strong>
					</td>
					<td>
						@Html.HiddenFor(model => model.infoUsuario.numero_documento)
						@Html.DisplayFor(model => model.infoUsuario.numero_documento)
					</td>
				</tr>
				<tr>
					<td>
						<strong>Género</strong>
					</td>
					<td>
						@Html.HiddenFor(model => model.infoUsuario.sexo.descripcion)
						@Html.DisplayFor(model => model.infoUsuario.sexo.descripcion)
					</td>
				</tr>
				<tr>
					<td>
						<strong>Pais de Nacimiento</strong>
					</td>
					<td>
						@Html.HiddenFor(model => model.infoUsuario.pais_nacimiento.nombre)
						@Html.DisplayFor(model => model.infoUsuario.pais_nacimiento.nombre)
					</td>
				</tr>
			</table>

		</div>
	}
	else
	{
		<p>No se encontraron resultados asociados a la consulta </p>
	}

	@*<div class="panel-heading">
			<h3>Consulta Solicitante</h3>
		</div>
		<div class="panel-body">

			@if (Model != null)
			{
				<table class="table table-striped">
					<tr>
						<td>
							@Html.HiddenFor(model => model.nombre)
							Nombre: @Html.DisplayFor(model => model.nombre)
						</td>
					</tr>
					<tr>
						<td>
							@Html.HiddenFor(model => model.infoUsuario.apellidos)
							Apellidos: @Html.DisplayFor(model => model.infoUsuario.apellidos)
						</td>
					</tr>
					<tr>
						<td>
							@Html.HiddenFor(model => model.correoElectronico)
							Correo electrónico: @Html.DisplayFor(model => model.correoElectronico)
						</td>
					</tr>
					<tr>
						<td>
							@Html.HiddenFor(model => model.rol.nombre)
							Tipo Usuario: @Html.DisplayFor(model => model.rol.nombre)
						</td>
					</tr>
					<tr>
						<td>
							@Html.HiddenFor(model => model.idEstadoSistema.descripcion)
							Estado: @Html.DisplayFor(model => model.idEstadoSistema.descripcion)
						</td>
					</tr>
					<tr>
						<td>
							@Html.HiddenFor(model => model.infoUsuario.id_tipo_documento.descripcion)
							Tipo de documento: @Html.DisplayFor(model => model.infoUsuario.id_tipo_documento.descripcion)
						</td>
					</tr>
					<tr>
						<td>
							@Html.HiddenFor(model => model.infoUsuario.numero_documento)
							Número documento: @Html.DisplayFor(model => model.infoUsuario.numero_documento)
						</td>
					</tr>
					<tr>
						<td>
							@Html.HiddenFor(model => model.infoUsuario.sexo.descripcion)
							Sexo: @Html.DisplayFor(model => model.infoUsuario.sexo.descripcion)
						</td>
					</tr>
					<tr>
						<td>
							@Html.HiddenFor(model => model.infoUsuario.pais_nacimiento.nombre)
							Pais de nacimiento: @Html.DisplayFor(model => model.infoUsuario.pais_nacimiento.nombre)
						</td>
					</tr>
				</table>
			}
		</div>*@
	}
}