@model PruebaMvc.ModelsService.OferenteCrear
@using PruebaMvc.UtilidadesUI

@{
	SelectList lstPais = ViewBag.Pais;
	SelectList lstTipoOferente = ViewBag.TipoOferente;
	ViewBag.Title = "Crear Oferente";
}

@using (Html.BeginForm("GuardarOferente", "Usuario", FormMethod.Post))
{
	<br />
	<div class="panel panel-default">
		<div class="panel-heading"><h4>Creación de cuenta: Oferente</h4></div>
		<div class="container">
			<h4>Datos de usuario</h4>
			<div class="row top-buffer">
				@*First Row*@
				<div class="form-group">
					@*<label class="col-sm-2">Usuario</label>*@
					@Html.RequiredLabelFor(model => model.nombreUsuario, new { @class= "col-sm-2" })
					<div class="col-sm-4 input-append">
						@Html.EditorFor(model => model.nombreUsuario, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.nombreUsuario, "", new { @class = "text-danger" })
					</div>
					@*<label class="col-sm-2">Correo Electrónico:</label>*@
					@Html.RequiredLabelFor(model => model.correoElectronico, new { @class = "col-sm-2" })
					<div class="col-sm-4">
						@*@Html.EditorFor(model => model.CorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })*@
						@Html.EditorFor(model => model.correoElectronico, new { htmlAttributes = new { @class = "form-control", placeholder ="correo@dominio.com" } })
						@Html.ValidationMessageFor(model => model.correoElectronico, "", new { @class = "text-danger" })
					</div>
				</div>
			</div>

			@*Second Row*@
			<div class="row top-buffer">
				<div class="form-group">
					@*<label class="col-sm-2">Contraseña:</label>*@
					@Html.RequiredLabelFor(model => model.contrasena, new { @class = "col-sm-2" })
					<div class="col-sm-4">
						@*@Html.EditorFor(model => model.Clave, new { htmlAttributes = new { @class = "form-control" } })*@
						@Html.PasswordFor(model => model.contrasena, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.contrasena, "", new { @class = "text-danger" })
					</div>
					@*<label class="col-sm-2">Confirmar contraseña:</label>*@
					@Html.RequiredLabelFor(model => model.confirmarContrasena, new { @class = "col-sm-2" })
					<div class="col-sm-4">
						@*@Html.EditorFor(model => model.ConfirmarClave, new { htmlAttributes = new { @class = "form-control" } })*@
						@Html.PasswordFor(model => model.confirmarContrasena, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.confirmarContrasena, "", new { @class = "text-danger" })
					</div>
				</div>
			</div>

			<hr />
		</div>

		<div class="container">
			<h4>Datos de oferente</h4>

			<div class="row top-buffer">
				@*First Row*@
				<div class="form-group">
					@Html.RequiredLabelFor(model => model.nit, new { @class = "col-sm-2" })
					@*<label class="col-sm-2">Nit:</label>*@
					<div class="col-sm-4 input-append">
						@Html.EditorFor(model => model.nit, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.nit, "", new { @class = "text-danger" })
					</div>
					@*<label class="col-sm-2">Nombre:</label>*@
					@Html.RequiredLabelFor(model => model.nombre, new { @class = "col-sm-2" })
					<div class="col-sm-4">
						@Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
					</div>
				</div>
			</div>			

			<div class="row top-buffer">
				@*Second Row*@
				<div class="form-group">
					@*<label class="col-sm-2">País:</label>*@
					@Html.RequiredLabelFor(model => model.pais, new { @class = "col-sm-2" })
					<div class="col-sm-4 input-append">
						@Html.DropDownListFor(model => model.pais, ViewBag.Pais as IEnumerable<SelectListItem>, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.pais, "", new { @class = "text-danger" })
					</div>

					@*<label class="col-sm-2">Tipo de entidad:</label>*@
					@Html.RequiredLabelFor(model => model.tipoEntidad, new { @class = "col-sm-2" })
					<div class="col-sm-4">
						@Html.DropDownListFor(model => model.tipoEntidad, ViewBag.TipoOferente as IEnumerable<SelectListItem>, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.tipoEntidad, "", new { @class = "text-danger" })
					</div>
				</div>
			</div>

		</div>

		<div class="container">
			<div class="row top-buffer">
				@*Second Row*@
				<div class="form-group">					
					<label class="col-sm-2">Descripción:</label>
					<div class="col-sm-10">
						@Html.TextAreaFor(model => model.descripcion, 15, 100, new { @class = "form-control width-textarea" })
					</div>
				</div>
			</div>

		</div>

		<hr />

		<div>
			<button type="submit" class="btn btn-primary">Crear oferente</button>
			<a class="btn btn-primary" href="@Url.Action("CrearUsuarios", "Inicio")">Cancelar</a>            
		</div>

		<br />


	</div>

	@*<div class="panel-body">





		<table>
			<tr>
				<td colspan="2">
					<h4>Datos de usuario</h4>
				</td>
			</tr>
			<tr>
				<td>
					Usuario: @Html.EditorFor(model => model.NombreUsuario, new { @required = true })
				</td>
				<td>
					Correo electrónico: @Html.EditorFor(model => model.CorreoElectronico)
				</td>
			</tr>
			<tr>
				<td>
					Contraseña: @Html.EditorFor(model => model.Clave)
				</td>
				<td>
					Confirmar contraseña: @Html.EditorFor(model => model.ConfirmarClave)
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<h4>Datos de oferente</h4>
				</td>
			</tr>
			<tr>
				<td>
					Nit: @Html.EditorFor(model => model.nit)
				</td>
				<td>
					Nombre: @Html.EditorFor(model => model.nombre)
				</td>
			</tr>
			<tr>
				<td>
					País:
					@Html.DropDownListFor(model => model.id_pais, ViewBag.Pais as IEnumerable<SelectListItem>, new { @class = "form-control" })
				</td>
			</tr>
			<tr>
				<td>
					Tipo de entidad
					@Html.DropDownListFor(model => model.id_tipo_entidad, ViewBag.TipoOferente as IEnumerable<SelectListItem>, new { @class = "form-control" })
				</td>
			</tr>
			<tr>
				<td>
					Descripción
					@Html.TextAreaFor(model => model.descripcion, 15, 8, new { @class = "form-control" })
				</td>
			</tr>
			<tr>
				<td>
					<button type="submit" class="btn btn-success">Crear oferente</button>
				</td>
			</tr>
		</table>
	</div>*@

}







