@model PruebaMvc.Models.Oferente

@{
    SelectList lstPais = ViewBag.Pais;
    SelectList lstTipoOferente = ViewBag.TipoOferente;
}

@using (Html.BeginForm("GuardarOferente", "Usuario", FormMethod.Post))
{
    <br />
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Creación de cuenta: oferente</h4></div>
        <div class="panel-body">
            <table>
                <tr>
                    <td colspan="2">
                        <h4>Datos de usuario</h4>
                    </td>
                </tr>
                <tr>                                                                                                                                               
                    <td>
                        Usuario: @Html.EditorFor(model => model.NombreUsuario, new { @required = true })
                    </td>
                    <td>
                        Correo electrónico: @Html.EditorFor(model => model.CorreoElectronico)
                    </td>
                </tr>
                <tr>
                    <td>
                        Contraseña: @Html.EditorFor(model => model.Clave)
                    </td>
                    <td>
                        Confirmar contraseña: @Html.EditorFor(model => model.ConfirmarClave)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h4>Datos de oferente</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        Nit: @Html.EditorFor(model => model.nit)
                    </td>
                    <td>
                        Nombre: @Html.EditorFor(model => model.nombre)
                    </td>
                </tr>
                <tr>
                    <td>
                        País: 
                        @Html.DropDownListFor(model => model.id_pais, ViewBag.Pais as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Tipo de entidad
                        @Html.DropDownListFor(model => model.id_tipo_entidad, ViewBag.TipoOferente as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Descripción
                        @Html.TextAreaFor(model => model.descripcion,15,8,new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-success">Crear oferente</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}







