@model PruebaMvc.ModelsService.SolicitanteCrear

@{
    SelectList lstSexo = ViewBag.Sexo; 
    SelectList lstTipoDocumento = ViewBag.TipoDocumento;
    SelectList lstTipoPoblacion = ViewBag.TipoPoblacion;
    SelectList lstPais = ViewBag.Pais;
    SelectList lstDepartamento = ViewBag.Departamento;
    SelectList lstCiudad = ViewBag.Ciudad;
}

@using (Html.BeginForm("GuardarSolicitante", "Usuario", FormMethod.Post))
{
    <br />
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Creación de cuenta: solicitante</h4></div>
        <div class="panel-body">
            <table>
                <tr>
                    <td colspan="2">
                        <h4>Datos de usuario</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        Correo electrónico: @Html.EditorFor(model => model.correoElectronico)
                    </td>
                </tr>
                <tr>
                    <td>
                        Contraseña: @Html.EditorFor(model => model.contrasena)
                    </td>
                    <td>
                        Confirmar contraseña: @Html.EditorFor(model => model.contrasena)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h4>Datos de solicitante</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        Tipo de documento: @Html.DropDownListFor(model => model.id_tipo_documento, ViewBag.TipoDocumento as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    </td>
                    <td>
                        Documento: @Html.EditorFor(model => model.numero_documento)
                    </td>

                </tr>
                <tr>
                    <td>
                        Nombres:@Html.EditorFor(model => model.nombre)
                    </td>
                    <td>
                        Apellidos:@Html.EditorFor(model => model.apellidos)
                    </td>
                </tr>
                <tr>
                    <td>
                        Sexo:@Html.DropDownListFor(model => model.sexo, ViewBag.Sexo as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Tipo de población:@Html.DropDownListFor(model => model.id_tipo_poblacion, ViewBag.TipoPoblacion as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Pais nacimiento: @Html.DropDownListFor(model => model.pais_nacimiento, ViewBag.Pais as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Pais residencia: @Html.DropDownListFor(model => model.pais_residencia, ViewBag.Pais as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-success">Crear</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}







