@model PruebaMvc.Models.Usuario
@using PruebaMvc.UtilidadesUI
@{
    ViewBag.Title = "Login";
}


@using (Html.BeginForm())
{

    <br />
    <br />
    <div class="panel panel-default" style="width:30%">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
            
            <div class="form-group">				
				@Html.RequiredLabelFor(model => model.NombreUsuario)				
                @Html.EditorFor(model => model.NombreUsuario, new { htmlAttributes = new { @class = "form-control", placeholder = "Usuario" } })
                @Html.ValidationMessageFor(model => model.NombreUsuario, "",  new { @class = "text-danger" })
            </div>

            
            <div class="form-group">				
				@Html.RequiredLabelFor(model => model.Clave)
                @Html.PasswordFor(model => model.Clave, new { @class = "form-control", placeholder = "Contraseña" })
                @Html.ValidationMessageFor(model => model.Clave, "",  new { @class = "text-danger" })
            </div>
            <br />
            <p>
                <input type="submit" class="btn btn-success" value="Ingresar" />
            </p>
        </div>
    </div>
    <br />
    @Html.ValidationSummary(true)
}

